In [1]:
import pandas as pd
import os

In [2]:
os.chdir("../")

# Creating dataframe for testing

# dates

In [3]:
data = {'month': ['2011-01', '2021-02', '2016-03', '2018-04', '2015-05']}
df_input = pd.DataFrame(data)

In [4]:
df_input

     month
0  2011-01
1  2021-02
2  2016-03
3  2018-04
4  2015-05

In [5]:
df_input.to_csv(os.path.join("data", "tests", "month_breakdown_input.csv"))

In [6]:
data = {'month': ['01', '02', '03', '04', '05'], 'year': ['2011', '2021', '2016', '2018', '2015']}
df_output = pd.DataFrame(data)
df_output

  month  year
0    01  2011
1    02  2021
2    03  2016
3    04  2018
4    05  2015

In [7]:
df_output.to_csv(os.path.join("data", "tests", "month_breakdown_output.csv"))

In [8]:
import pandas as pd

In [9]:
data = {
            "year": [2020, 2020, 2020, 2020, 2020],
            "month": [3, 3, 3, 3, 3],
            "state": ["Alabama", "Alaska", "Arizona", "Arkansas", "California"],
            "permit": [31205.0, 143.0, 5685.0, 2424.0, 27792.0],
            "handgun": [34897.0, 4657.0, 46377.0, 15304.0, 81543.0],
            "long_gun": [17850.0, 3819.0, 19346.0, 8968.0, 48616.0],
            "returned_to_seller_long_gun": [2, 3, 5, 6, 1],
            "returned_to_seller_hand_gun": [21, 2, 66, 23, 0]
        }
df = pd.DataFrame(data)
df

,year,month,state,permit,handgun,long_gun,returned_to_seller_long_gun,returned_to_seller_hand_gun
0,2020,3,Alabama,31205.0,34897.0,17850.0,2,21
1,2020,3,Alaska,143.0,4657.0,3819.0,3,2
2,2020,3,Arizona,5685.0,46377.0,19346.0,5,66
3,2020,3,Arkansas,2424.0,15304.0,8968.0,6,23
4,2020,3,California,27792.0,81543.0,48616.0,1,0

In [26]:
def clean_csv(df: pd.DataFrame) -> pd.DataFrame:
    """
    Cleans the dataset by retaining only the specified columns and prints the column names.


    Args:
        df (pd.DataFrame): The initial DataFrame to be cleaned.

    Returns:
        pd.DataFrame: The cleaned DataFrame containing only the specified columns.
    
    Raises:
        KeyError: If any of the specified columns are not found in the DataFrame.

    Example:
        clean_df = clean_csv(initial_df)
    """
    
    cols = ["month", "state", "permit", "handgun", "long_gun"]
    df_clean = df[cols].copy()
    
    
    
    # Convert specific columns to int
    df_clean["permit"] = pd.to_numeric(df_clean["permit"], errors='coerce').fillna(0).astype(int)
    df_clean["handgun"] = pd.to_numeric(df_clean["handgun"], errors='coerce').fillna(0).astype(int)
    df_clean["long_gun"] = pd.to_numeric(df_clean["long_gun"], errors='coerce').fillna(0).astype(int)
    
    print(df.columns)
    
    return df_clean

In [27]:
df_clean = clean_csv(df)
df_clean

Index(['year', 'month', 'state', 'permit', 'handgun', 'long_gun',
       'returned_to_seller_long_gun', 'returned_to_seller_hand_gun'],
      dtype='object')

   month       state  permit  handgun  long_gun
0      3     Alabama   31205    34897     17850
1      3      Alaska     143     4657      3819
2      3     Arizona    5685    46377     19346
3      3    Arkansas    2424    15304      8968
4      3  California   27792    81543     48616

In [12]:
df_clean["handgun"]

0    34897.0
1     4657.0
2    46377.0
3    15304.0
4    81543.0
Name: handgun, dtype: float64