In [1]:
import pandas as pd
import os

In [2]:
os.chdir("../")

# Creating dataframe for testing

# dates

In [3]:
data = {'month': ['2011-01', '2021-02', '2016-03', '2018-04', '2015-05']}
df_input = pd.DataFrame(data)

In [4]:
df_input

     month
0  2011-01
1  2021-02
2  2016-03
3  2018-04
4  2015-05

In [5]:
df_input.to_csv(os.path.join("data", "tests", "month_breakdown_input.csv"))

In [6]:
data = {'month': ['01', '02', '03', '04', '05'], 'year': ['2011', '2021', '2016', '2018', '2015']}
df_output = pd.DataFrame(data)
df_output

  month  year
0    01  2011
1    02  2021
2    03  2016
3    04  2018
4    05  2015

In [7]:
df_output.to_csv(os.path.join("data", "tests", "month_breakdown_output.csv"))